* {
  font-family: bangers;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

header-img {
  display: block;
  max-width: 230px;
  max-height: 95px;
  width: auto;
  height: auto;
}

.search-hero {
  justify-content: center;
}

.hero-name-display h3 {
  color: red;
  text-shadow: 2px 2px black;
  font-size: 200%;
}

.hero-name-display p {
  color: green;
  text-shadow: 1px 1px white;
}

.hero-name-display img {
  border: solid 5px purple;
}

.events,
.comics,
.movie-appearances {
  background-color: green;
  color: white;
  text-shadow: 1px 1px red;
  box-shadow: 2px 2px 3px black !important;
  border-radius: 4px;
  margin-bottom: 10px !important;
}

.comics-li,
.events-li,
.movies-li {
  color: white;
  text-shadow: 2px 2px red;
}

.teams-container {
  padding: 8px;
  border: 4px solid black;
  margin: 0.5rem;
}

.build-team {
  flex-direction: column;
}

.build-title {
  font-size: 1.5em;
  color: blue;
  text-shadow: 2px 2px white;
  text-align: center;
}

.build-team ul li {
  color: black;
  text-shadow: 2px 2px rgb(116, 177, 116);
}

.add-hero-btn,
.add-team {
  background-color: red;
}

.search-bttn,
.add-hero-btn,
.add-team,
.score-board {
  text-shadow: 1px 1px white;
  box-shadow: 2px 2px 3px black;
  border-radius: 4px;
  padding: 2px 7px;
}

.score-board {
  background-color: #4260f5;
  color: #f5ec42;
  text-shadow: 1px 1px black;
  width: 60vw;
  align-self: center;
}

.teamName,
.add-hero,
.hero-search-input {
  box-shadow: 2px 2px 3px black;
  border-radius: 4px;
  padding: 2px 7px;
}

.team-name-title {
  color: red;
  text-shadow: 1px 1px white;
  font-size: 130%;
}
